.container {
  max-width: $xl;
  margin: 0 auto;
  padding: 1em;
}

section {
  padding: 1.0em 0;
	@media (min-width: $md){
		padding: 2.0em 0;
	}
	@media (min-width: $xl){
		padding: 3.33em 0;
	}
	
	h2 {
		margin-bottom: 0.5em;
	}
	
}

section:first-of-type {
  padding-top: 0;

  @media (min-width: $sm){
    padding-top: 3.33em;
  }
	@media (min-width: $md){
		padding-top: 4.0em;
	}	
	@media (min-width: $xl){
		padding-top: 5.0em;
	}
}

.section__link {
  margin: 0 auto;
  display: inline-block;

  &:after {
    content: '>';
    display: inline;
    margin-left: 0.50em; 
  }

}

.grid {
  display: grid;
  margin-bottom: 1em;
}

.flex {
  display: flex;
}

#about {
	background-color: $silver;
  .grid {
    grid-row-gap: 1em;
  }

  @media (min-width: $md){
    .grid {
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 4%;
    }
  }


	aside {
		background-color: $navy;
		color: $white;
		text-align: center;
		padding: 1.0em;
		border-radius: 8px;
    box-shadow: 8px 8px 16px $slate;
    max-width: 360px;
    margin: 0 auto;
    @media (min-width: $md){
      max-width: 100%;
    }
		
		h3 {
			margin-bottom: 0.5em;
		}
		
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			
			li {
				margin-bottom: 0.5em;
				
				a {
					color: $white;
					text-decoration: none;
				}
				
			}
			
		}
		
		a {
			color: $orange;
		}
		
	}
	
}

#work {
  .grid {
    grid-row-gap: 1em;
  }
  @media (min-width: $xs){
    .grid {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 6%;
    }
  }

  article .project__info {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: 1em;
    transition: all 200ms linear;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-weight: normal;

    .project__client {
      color: $white;
      text-transform: uppercase;
      font-size: 1.33em;
      font-weight: bold;
    }

    .project__name {
      color: $accent-color;
      font-size: 1em;
      font-weight: normal;
    }

    .project__year {
      position: absolute;
      top: 1em;
      right: 1em;
      color: $white;
    }

  }

  article a {
    position: relative;
    text-decoration: none;
    border-bottom: 0;
    display: block;    
  }

  article a:hover {
    .project__info {
      background-color: $primary-color; 
      visibility: visible;
      opacity: 0.9;
      transition: all 200ms linear;
    }

  }
	
}

#blog {

  article a {
    border-bottom: 0;
    text-decoration: none;
    color: $black;
  }
  
  .grid {
    grid-row-gap: 2em;
  }

  @media (min-width: $sm){
    .grid {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 4%;
    }
  }

  @media (min-width: $lg){
    .grid {
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 4%;
    }
  }

	img {
		object-fit: cover;
		width: 100%;
    height: 240px;
	}
	
}

#contact {
  background-color: $primary-color;
  color: $white;
  h2 {
    text-align: center;
  }
}