<header class="navbar">

  <div class="container">
    <nav class="navbar__nav">
      <a class="navbar__logo" href="{{ "/" | relative_url }}">{{ site.logo | escape }}</a> 
      <ul class="nav__items">
        <li class="nav__link">
          <a href="/work">Work</a>
        </li>
        <li class="nav__link">
          <a href="/about">About</a>
        </li>
        <li class="nav__link">
          <a href="/blog">Blog</a>
        </li>
        <li class="nav__link">
          <a href="/contact">Contact</a>
        </li>             
      </ul>
    </nav>
  </div>
</header>
