---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <section id="intro" class="hero hero--primary" {% if page.cover %}style="background-image: url('{{page.cover}}')"{% endif %}>
    <div class="container">
      <h1 class="title" itemprop="name headline">{{ page.title | escape }}</h1>
      {% if page.subtitle %}  
        <p class="subtitle">{{ page.subtitle}}</p>
      {% endif %}
      <a href="{{page.source}}">View this project</a>
    </div>
  </section>
  <article class="container" itemprop="articleBody">
    {{ content }}
  </article> 
</article>
