---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header id="intro" class="hero hero--primary" {% if page.cover %}style="background-image: url('{{page.cover}}')"{% endif %}>
    <div class="container">
      <h1 class="title" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="subtitle">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            {{ page.date | date: date_format }}{% include time-to-read.html %}
          </time>
          {% if page.author %}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
          {% endif %}
        </p>
    </div>
  </header>

  <article class="container" itemprop="articleBody">
    {% if page.source %}
      <div class="source-card">
        <div>Source:</div>
        {% if page.sourceTitle %}
          <div>{{page.sourceTitle}}</div>
        {% endif %}
        <a href="{{page.source}}">{{page.source}}</a>
      </div>
    {% endif %}
    {{ content }}
  </article>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
